<ol class="breadcrumb">
    <li><a href="#/">Dashboard</a></li>
    <li>Subteam</li>
    <li class="active">Braking Module</li>
</ol>
<div class="container-fluid idevices" ng-controller="DashboardController">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel-group">

                <div class="panel" style="background-color: #262727;">
                <div class="headers panel-heading">Control Modules</div>
                <div class="panel-body">
                        <!-- <p class="mnames" align="center">Data</p> -->
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-success-alt" ng-class="{'btn-inverse-alt': mcm.progress < 100}">MCM</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success-alt" ng-class="{'btn-inverse-alt': bcm.progress < 100}">BCM</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success-alt" ng-class="{'btn-inverse-alt': vsm.progress < 100}">VSM</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success-alt" ng-class="{'btn-inverse-alt': vnm.progress < 100}">VNM</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <progressbar class="mstatus" animate="false" value="mcm.progress" type="success"></progressbar>
                        </div>
                        <div class="col-md-3">
                            <progressbar class="mstatus" animate="false" value="bcm.progress" type="success"></progressbar>
                        </div>
                        <div class="col-md-3">
                            <progressbar class="mstatus" animate="false" value="vsm.progress" type="success"></progressbar>
                        </div>
                        <div class="col-md-3">
                            <progressbar class="mstatus" animate="false" value="vnm.progress" type="success"></progressbar>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="headers panel-heading">Backend Nodes</div>
                <div class="panel-body">
                        <!-- <p class="mnames" align="center">Data</p> -->
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn btn-success-alt" ng-class="{'btn-inverse-alt': data.node1_prog < 100}">Node 1</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-success-alt" ng-class="{'btn-inverse-alt': data.node2_prog < 100}">Node 2</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-success-alt" ng-class="{'btn-inverse-alt': data.node3_prog < 100}">Node 3</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-success-alt" ng-class="{'btn-inverse-alt': data.node4_prog < 100}">Node 4</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="headers panel-heading">Launch Status</div>
                <div class="panel-body">
                        <!-- <p class="mnames" align="center">Data</p> -->
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn l_panel" ng-class="{'btn-success': pod.start == true, 'btn-success-alt': pod.start == false}" ng-click="initialize()">Start</button>
                        </div>
                        <div class="col-md-6" style="text-align: center;">
                            <button class="btn btn-block" ng-class="{'btn-warning': pod.launch == true, 'btn-warning-alt': pod.launch == false}" ng-click="launch_pod()">Launch</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger-alt l_panel" style="float: right;">Stop</button>
                        </div>
                    </div>
                    
                </div>
            </div>

            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel-group">

                <div class="panel">
                    <div class="headers panel-heading">HUD</div>
                    <div class="headers panel-body">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row"></div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 hud_mph"><p>{{pod.velocity}}</p></div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <br><br><p class="distance" ng-class="{'dis_succ': s_index == 1, 'dis_warn': s_index == 2, 'dis_dang': s_index == 3}">Distance Travelled (ft)</p>
                                <p class="distance_num">{{pod.dt}}</p>
                            </div>
                            <div class="col-md-4">
                                <p class="hud_unit" align="center">MPH</p><br><br>
                                <button class="state" ng-class="{'btn-inverse-alt': s_index == 4, 'btn-success-alt': s_index < 2 || s_index == 5, 'btn-warning-alt': s_index == 2, 'btn-danger-alt': s_index == 3}">{{states[s_index]}}</button>
                            </div>
                            <div class="col-md-4">
                                <br><br><p class="distance" ng-class="{'dis_succ': s_index == 1, 'dis_warn': s_index == 2, 'dis_dang': s_index == 3}">Distance To Braking (ft)</p>
                                <p class="distance_num">{{pod.db}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <progress class="progress-striped">
                            <bar value="progress.accel" type="success"></bar>
                            <bar value="progress.coast" type="warning"></bar>
                            <bar value="progress.braking" type="danger"></bar>
                        </progress> 
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel" style="background-color: #262727;">
                <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:left;" class="outline" width="15%">Wheels</th>
                                    <th style="text-align:center;" class="outline" width="15%">Status</th>
                                    <th style="text-align:left;" class="outline" colspan="2" width="20%">Readout</th>                                  
                                    <th style="text-align:right;" class="outline" colspan="2" width="20%">Readout</th>
                                    <th style="text-align:center;" class="outline" width="15%">Status</th>
                                    <th style="text-align:right;" class="outline" width="15%">Wheels</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border-bottom-style: hidden" class="outline">Left Wheel #1</td>
                                    <td class="noborder" style="border-bottom-style: hidden"><span class="btn btn-success-alt btn-block">Stable</span></td>
                                    <td class="noborder rpm" align="right"><span class="big">{{data.lw1_rpm}} RPM</span></td>
                                    <td class="middle" align="left"><span class="medium label label-primary">{{data.lw1_tmp}} C</span></td>
                                    <td style="border-bottom-style: hidden" class="noborder" align="right"><span class="medium label label-primary">{{data.rw1_tmp}} C</span></td>
                                    <td style="border-bottom-style: hidden" class="noborder rpm" align="left"><span class="big">{{data.rw1_rpm}} RPM</span></td>
                                    <td style="border-bottom-style: hidden"><span class="btn btn-success-alt btn-block">Stable</span></td>
                                    <td align="right" class="outline" style="border-bottom-style: hidden">Right Wheel #1</td>
                                </tr>
                                <tr>
                                    <td style="border-bottom-style: hidden" class="outline">Left Wheel #2</td>
                                    <td class="noborder" style="border-bottom-style: hidden"><span class="btn btn-success-alt btn-block">Stable</span></td>
                                    <td class="noborder rpm" align="right"><span class="big">{{data.lw2_rpm}} RPM</span></td>
                                    <td class="middle" align="left"><span class="medium label label-primary">{{data.lw2_tmp}} C</span></td>
                                    <td style="border-bottom-style: hidden" class="noborder" align="right"><span class="medium label label-primary">{{data.rw2_tmp}} C</span></td>
                                    <td style="border-bottom-style: hidden" class="noborder rpm" align="left"><span class="big">{{data.rw2_rpm}} RPM</span></td>
                                    <td style="border-bottom-style: hidden"><span class="btn btn-success-alt btn-block">Stable</span></td>
                                    <td align="right" class="outline">Right Wheel #2 </td>
                                </tr>
                                
                            </tbody>
                        </table>   
                    </div>                   
            <!-- </panel> -->
            </div>

        </div>
    </div>
</div>
<!-- container-fluid -->


