    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Subteam</li>
        <li class="active">Braking Module</li>
    </ol>

<div class="container-fluid" ng-controller="DashboardController">
    
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-heading" heading="Braking">
                <div class="panel-body" style="background-color: #262727">
                    <h1 align="center" style="color: white">FRONT</h1>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:left; color: white" width="15%">Wheels</th>
                                    <th style="text-align:left; color: white" width="15%"><span class="status label label-success">Stable</span></th>
                                    <th style="text-align:center; color: white" width="20%">Readout</th>
                                    <th style="text-align:center; color: white" width="20%">Readout</th>
                                    <th style="text-align:right; color: white" width="15%"><span class="status label label-danger">Danger</span></th>
                                    <th style="text-align:right; color: white" width="15%">Wheels</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td bgcolor="{{halbach.wheels[0].totaltype}}" style="color: white"><span align="left" class="medium label label-info">{{halbach.wheels[0].temp}} C </span> Left Wheel #1</td>
                                    <td class="noborder"></td>
                                    <td  class="noborder" align="center"><span class="big label label-success">{{halbach.wheels[0].rpm}} RPM</span> <span class="medium label label-info">{{halbach.wheels[0].gap}} mm</span></td>
                                    <td class="noborder" align="center"><span class="medium label label-info">{{halbach.wheels[1].gap}} mm</span> <span class="big label label-success"> {{halbach.wheels[1].rpm}} RPM </span></td>
                                    <td style="border-bottom-style: hidden"></td>
                                    <td bgcolor="{{halbach.wheels[1].totaltype}}" align="right" style="color: white">Right Wheel #1 <span class="medium label label-primary">{{halbach.wheels[1].temp}} </span></td>
                                </tr>
                                <tr>
                                    <td bgcolor="{{halbach.wheels[2].totaltype}}" style="color: white"><span align="left" class="medium label label-info">{{halbach.wheels[2].temp}} C </span>  Left Wheel #2</td>
                                    <td class="noborder"></td>
                                    <td class="noborder" align="center"><span class="big label label-success"> {{halbach.wheels[2].rpm}} RPM </span> <span class="medium label label-info"> {{halbach.wheels[2].gap}} mm</span></td>
                                    <td class="noborder" align="center"><span class="medium label label-info">{{halbach.wheels[3].gap}} mm </span> <span class="big label label-success"> {{halbach.wheels[3].rpm}} RPM </span></td>
                                    <td  style="border-bottom-style: hidden"></td>
                                    <td  bgcolor="{{halbach.wheels[3].totaltype}}" align="right" style="color: white">Right Wheel #2 <span class="medium label label-primary">{{halbach.wheels[3].temp}} </span></td>
                                </tr>
                                <tr>
                                    <td bgcolor="{{halbach.wheels[4].totaltype}}" style="color: white"><span align="left" class="medium label label-primary">{{halbach.wheels[4].temp}}</span>  Left Wheel #3</td>
                                    <td class="noborder"></td>
                                    <td class="noborder" align="center"><span class="big label label-success"> {{halbach.wheels[4].rpm}} RPM </span> <span class="medium label label-info"> {{halbach.wheels[4].gap}} mm</span></td>
                                    <td class="noborder" align="center"><span class="medium label label-info"> {{halbach.wheels[5].gap}} mm</span> <span class="big label label-success"> {{halbach.wheels[5].rpm}} RPM </span></td>
                                    <td style="border-bottom-style: hidden"></td>
                                    <td bgcolor="{{halbach.wheels[5].totaltype}}" align="right" style="color: white"> Right Wheel #3 <span class="medium label label-primary">{{halbach.wheels[5].temp}} </span></td>
                                </tr>
                                <tr>
                                    <td bgcolor="{{halbach.wheels[6].totaltype}}" style="color: white"><span align="left" class="medium label label-primary">{{halbach.wheels[6].temp}}</span>  Left Wheel #4</td>
                                    <td class="noborder"></td>
                                    <td class="noborder" align="center"><span class="big label label-success"> {{halbach.wheels[6].rpm}} RPM </span> <span class="medium label label-info">{{halbach.wheels[6].gap}} mm</span></td>
                                    <td class="noborder" align="center"><span class="medium label label-info"> {{halbach.wheels[7].gap}} mm</span> <span class="big label label-success"> {{halbach.wheels[7].rpm}} RPM </span></td>
                                    <td style="border-bottom-style: hidden"></td>
                                    <td bgcolor="{{halbach.wheels[7].totaltype}}" align="right" style="color: white">Right Wheel #4 <span class="medium label label-primary">{{halbach.wheels[7].temp}}</span></td>
                                </tr>
                                <tr>
                                    <td bgcolor="{{halbach.wheels[8].totaltype}}" style="color: white"><span align="left" class="medium label label-primary">{{halbach.wheels[8].temp}}</span>  Left Wheel #5</td>
                                    <td class="noborder"></td>
                                    <td class="noborder" align="center"><span class="big label label-success"> {{halbach.wheels[8].rpm}} RPM </span> <span class="medium label label-info"> {{halbach.wheels[8].gap}} mm</span></td>
                                    <td class="noborder"align="center"><span class="medium label label-info"> {{halbach.wheels[9].gap}} mm</span> <span class="big label label-success"> {{halbach.wheels[9].rpm}} RPM </span></td>
                                    <td style="border-bottom-style: hidden"></td>
                                    <td bgcolor="{{halbach.wheels[9].totaltype}}" align="right" style="color: white">Right Wheel #5 <span class="medium label label-primary">{{halbach.wheels[9].temp}}</span></td>
                                </tr>
                                
                            </tbody>
                        </table>   
                    <h1 align="center" style="color: white">REAR</h1>  
                    </div>                   
            </panel>
        </div>
    </div>
     <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-heading" heading="Run Completion">
                <div class="panel-body" style="background-color: #262727">
                <div class="center">
                    <span class="big label label-danger">{{dynamic}}%</span>    
                </div>
                <br>
                <progressbar class="progress-striped active" value="dynamic" type="{{type}}"></progressbar>
                <!-- <small><em>Object (changes type based on value)</em></small> -->
                </div>
            </panel>
        </div>
    </div>
    

</div> <!-- container-fluid -->
