    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Subteam</li>
        <li class="active">Braking Module</li>
    </ol>

<div class="container-fluid" ng-controller="ProgressbarController">
    
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-heading" heading="Braking">
                    <div class="col-md-6">

                        <div class="list-group list-group-alternate"> 
                            <a href="#" class="list-group-item"><span class="big badge">201</span> <i class="ti ti-envelope"></i> Braking Bogie Limit Switch Status </a> 
                            <a href="#" class="list-group-item"><span class="big badge badge-primary">5021</span> <i class="ti ti-eye"></i> Wheel RPM </a> 
                            <a href="#" class="list-group-item"><span class="big badge">14</span> <i class="ti ti-headphone-alt"></i> Braking System Mode </a> 
                            <a href="#" class="list-group-item"><span class="big badge">20</span> <i class="ti ti-comments"></i> Eddy Magnet Current </a> 
                            <a href="#" class="list-group-item"><span class="big badge badge-warning">14</span> <i class="ti ti-bookmark"></i> Bookmarks </a> 
                            <a href="#" class="list-group-item"><span class="big badge badge-danger">30</span> <i class="ti ti-bell"></i> Push Phase Deactivation Time </a> 
                        </div>

                    </div>
                    <div class="col-md-6">
                        


                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="50%">Classes</th>
                                    <th width="50%">Labels</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><code>.label-default</code></td>
                                    <td><span class="label label-default">Default</span></td>
                                </tr>
                                <tr>
                                    <td><code>.label-primary</code></td>
                                    <td><span class="label label-primary">Primary</span></td>
                                </tr>
                                <tr>
                                    <td><code>.label-success</code></td>
                                    <td><span class="label label-success">Success</span></td>
                                </tr>
                                <tr>
                                    <td><code>.label-info</code></td>
                                    <td><span class="label label-info">Info</span></td>
                                </tr>
                                <tr>
                                    <td><code>.label-warning</code></td>
                                    <td><span class="label label-warning">Warning</span></td>
                                </tr>
                                <tr>
                                    <td><code>.label-danger</code></td>
                                    <td><span class="label label-danger">Danger</span></td>
                                </tr>
                            </tbody>
                        </table>                    
                    </div>
            </panel>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <panel panel-class="panel-heading" heading="Run Completion">
                <div class="center">
                    <span class="big label label-danger">{{dynamic}}%</span>    
                </div>
                <br>
                <progressbar class="progress-striped active" value="dynamic" type="{{type}}"></progressbar>
                <small><em>Object (changes type based on value)</em></small>
            </panel>
        </div>
    </div>

</div> <!-- container-fluid -->
