<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Dashboard</li>
</ol>

<div class="container-fluid" ng-controller="DashboardController">
    <div class="row">
        <div class="col-md-3">
            <div class="info-tile tile-orange">
                <div class="tile-icon"><i class="ti ti-server"></i></div>
                <div class="tile-heading"><span>No. Of Nodes Running</span></div>
                <div class="tile-body"><span>3</span></div>
                <div class="tile-footer"><span class="text-success">100% <i class="fa fa-level-up"></i></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-tile tile-success">
                <div class="tile-heading"><span>Battery Voltage: {{batt.currentBatVoltage}}V</span></div>
                <div class="tile-body">
                    <span>
                    <div flot-chart style="width: 100%;height: 74px" class="centered"
                            data-flot-data="batt.realtimeData"
                            data-flot-options="batt.realtimeOptions">
                    </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-tile tile-info">
                <div class="tile-icon"><i class="ti ti-stats-up"></i></div>
                <div class="tile-heading"><span>Earnings</span></div>
                <div class="tile-body"><span>$40,150</span></div>
                <div class="tile-footer"><span class="text-success">5% <i class="fa fa-level-up"></i></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-tile tile-gray">
                <div class="tile-icon"><i class="ti ti-bar-chart-alt"></i></div>
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body"><span>12,600</span></div>
                <div class="tile-footer"><span class="text-danger">10.5% <i class="fa fa-level-down"></i></span></div>
            </div>
        </div>
    </div>

    <div data-widget-group="group1">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info" data-widget='{"id" : "wiget9", "draggable": "false"}'>
                    <div class="panel-heading">
                        <h2>Pod Velocity | {{telem.currentVelocity}} MPH</h2>
                        <div class="panel-ctrls button-icon-bg"  
                            data-actions-container="" 
                            data-action-collapse='{"target": ".panel-body"}'
                        >
                        </div>
                    </div>
                    <div class="panel-editbox" data-widget-controls=""></div>
                    <div class="panel-body">
                       <div class="mt-sm mb-sm" flot-chart style="width: 100%;height: 272px;" 
                            data-flot-data="telem.plotVelAccelData"
                            data-flot-options="telem.plotVelAccelOptions"
                        ></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-gray" data-widget='{"draggable": "false"}'>
                    <div class="panel-heading">
                        <h2>Recent CAN Messages</h2>
                        <div class="panel-ctrls button-icon-bg" 
                            data-actions-container="" 
                            data-action-collapse='{"target": ".panel-body"}'
                            >
                        </div>
                    </div>
                    <div class="panel-body scroll-pane" style="height: 320px;">
                        <div class="scroll-content">
                            <ul class="mini-timeline">
                                <li class="mini-timeline-lime" ng-repeat="message in sensor.messageList track by $index">
                                   <div class="timeline-icon"></div>
                                   <div class="timeline-body">
                                      <div class="timeline-content">
                                        <a href="#/" class="name">{{message.sensor}}</a> sent a new message <strong>{{message.data}}</strong>
                                        <span class="time">{{sensor.timeSince(message.timeStamp)}} ago</span>
                                      </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6" ng-controller="SensorSearchController">
                <div class="panel panel-transparent">
                    <div class="panel-heading">
                        <h2>Sensor Search</h2>
                    </div>
                    <div class="panel-body">
                        <div class="input mb-xl">
                            <input type="text" ng-model="filterOptions.filterText" class="form-control" placeholder="Search Sensors...">
                        </div>
                        <div class="panel">
                            <div class="panel-body no-padding">
                                <div style="height: 512px;" ng-grid="gridOptions"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            <panel panel-class="panel-sky" heading="Selected Sensor Message List">            
                <div class="table-responsive" style="height: 576px !important;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th style="padding-right: 200px">Message</th>
                                <th>Time Stamp</th>
                                <th>Module</th>
                                <th>Type</th>
                                <th>Sensor</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="message in sensor.selectedSensorMessageList() | orderBy: 'timeStamp' : true">
                                <td>{{message.id}}</td>
                                <td><strong>{{message.data}}</strong></td>
                                <td>{{sensor.timeSince(message.timeStamp)}} ago</td>
                                <td>{{message.module}}</td>
                                <td>{{message.type}}</td>
                                <td>{{message.sensor}}</td>
                                <td>{{message.location}}</td>
                            </tr>
                            <tr ng-if="sensor.selectedSensorMessageList().length === 0">
                                <td></td>
                                <td><strong>NO MESSAGES FROM SELECTED SENSORS</strong></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                        <caption>List of messages from selected sensors</caption>
                        <ul class="demo-btns">
                            <!-- <li><a class="btn btn-xs btn-danger btn-label" href="#"><i class="ti ti-close"></i>BPM THERM 1</a></li>
                            <li><a class="btn btn-xs btn-danger btn-label" href="#"><i class="ti ti-close"></i>MPM PROX 2</a></li>
                            <li><a class="btn btn-xs btn-danger btn-label" href="#"><i class="ti ti-close"></i>ECM ENCODER 2</a></li>  -->
                            <li ng-repeat="sensor in sensor.selectedSensors">
                                <button type="button" class="btn btn-xs btn-danger btn-label" ng-click="removeSensorFromList(sensor)"><i class="ti ti-close"></i>{{sensor.Name}}</button>
                                <!-- <button ng-click="sensor.removeSensorFromList()">{{sensor.Name}}</button> -->
                            </li>            
                        </ul>
                    </table>
                </div>
            </panel>
            </div>
        </div>
            <div class="col-md-3">

                <div class="panel panel-midnightblue widget-progress" data-widget='{"draggable": "false"}'>
                    <div class="panel-heading">
                        <h2>Progress</h2>
                        <div class="panel-ctrls button-icon-bg" 
                            data-actions-container="" 
                            data-action-refresh-demo='{"type": "circular"}'
                            >
                        </div>
                    </div>
                    <div class="panel-body">
                        <div easypiechart class="easypiechart mb-md"
                            data-percent="37"
                            data-options="epProgress"><span class="percent-non">37</span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="tabular">
                            <div class="tabular-row">
                                <div class="tabular-cell">
                                    <span class="status-total">Total</span>
                                    <span class="status-value">100</span>
                                </div>
                                <div class="tabular-cell">
                                    <span class="status-pending">Pending</span>
                                    <span class="status-value">63</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget-weather">
                    <div class="pull-left">
                        <span class="weather-location">Toronto, CA</span>
                        <span class="weather-desc">Sunny</span>
                    </div>
                    <div class="pull-right">
                        <span class="weather-temp">16<span>ºC</span></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-teal" data-widget='{"draggable": "false"}'>
                    <div class="panel-heading">
                        <h2>Browsers</h2>
                        <div class="panel-ctrls button-icon-bg" 
                            data-actions-container="" 
                            data-action-collapse='{"target": ".panel-body"}'
                            data-action-colorpicker=''
                            data-action-refresh-demo='{"type": "circular"}'
                            >
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table browsers m-n">
                            <tbody>
                                <tr>
                                    <td>Google Chrome</td>
                                    <td class="text-right">43.7%</td>
                                    <td class="vam" style="width: 56px;">
                                        <div class="progress m-n">
                                          <div class="progress-bar progress-bar-teal" style="width: 100%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Firefox</td>
                                    <td class="text-right">20.5%</td>
                                    <td class="vam">
                                        <div class="progress m-n">
                                          <div class="progress-bar progress-bar-teal" style="width: 50%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Opera</td>
                                    <td class="text-right">14.6%</td>
                                    <td class="vam">
                                        <div class="progress m-n">
                                          <div class="progress-bar progress-bar-teal" style="width: 40%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Safari</td>
                                    <td class="text-right">9.1%</td>
                                    <td class="vam">
                                        <div class="progress m-n">
                                          <div class="progress-bar progress-bar-teal" style="width: 25%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Internet Explorer</td>
                                    <td class="text-right">5.3%</td>
                                    <td class="vam">
                                        <div class="progress m-n">
                                          <div class="progress-bar progress-bar-teal" style="width: 12.5%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Torch</td>
                                    <td class="text-right">2.9%</td>
                                    <td class="vam">
                                        <div class="progress m-n">
                                          <div class="progress-bar progress-bar-teal" style="width: 9%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Maxthon</td>
                                    <td class="text-right">2.3%</td>
                                    <td class="vam">
                                        <div class="progress m-n">
                                          <div class="progress-bar progress-bar-teal" style="width: 6%"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Others</td>
                                    <td class="text-right">1.6%</td>
                                    <td class="vam">
                                        <div class="progress m-n">
                                          <div class="progress-bar progress-bar-teal" style="width: 3%"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- container-fluid -->
