<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Dashboard</li>
</ol>
<div class="container-fluid" ng-controller="DashboardController">
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="headers panel-heading">Control Modules</div>
                <div class="panel-body">
                        <!-- <p class="mnames" align="center">Data</p> -->
                    <div class="row">
                        <div class="col-md-3">
                            <button class="{{mcm_status}}">MCM</button>
                        </div>
                        <div class="col-md-3">
                            <button class="{{bcm_status}}">BCM</button>
                        </div>
                        <div class="col-md-3">
                            <button class="{{vsm_status}}">VSM</button>
                        </div>
                        <div class="col-md-3">
                            <button class="{{vnm_status}}">VNM</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <progressbar class="mstatus" animate="false" value="mcm_prog" type="success"></progressbar>
                        </div>
                        <div class="col-md-3">
                            <progressbar class="mstatus" animate="false" value="bcm_prog" type="success"></progressbar>
                        </div>
                        <div class="col-md-3">
                            <progressbar class="mstatus" animate="false" value="vsm_prog" type="success"></progressbar>
                        </div>
                        <div class="col-md-3">
                            <progressbar class="mstatus" animate="false" value="vnm_prog" type="success"></progressbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel">
                <div class="headers panel-heading">Backend Nodes</div>
                <div class="panel-body">
                        <!-- <p class="mnames" align="center">Data</p> -->
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-success" style="float: right;">Node 1</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success-alt" style="float: right;">Node 2</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success-alt" style="float: right;">Node 3</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success-alt" style="float: right;">Node 4</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <progressbar class="mstatus" animate="false" value="0" type="success"></progressbar>
                        </div>
                        <div class="col-md-3">
                            <progressbar class="mstatus" animate="false" value="0" type="success"></progressbar>
                        </div>
                        <div class="col-md-3">
                            <progressbar class="mstatus" animate="false" value="0" type="success"></progressbar>
                        </div>
                        <div class="col-md-3">
                            <progressbar class="mstatus" animate="false" value="0" type="success"></progressbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading">Control System</div>
                <div class="panel-body">
                        <p class="mnames">Scrolling messages</p>
                        <progressbar class="mstatus" animate="false" value="mcm_prog" type="success"></progressbar>
                        <p class="mnames">Scrolling messages</p>
                        <progressbar class="mstatus" animate="false" value="bcm_prog" type="success"></progressbar>
                       <p class="mnames">Scrolling messages</p>
                        <progressbar class="mstatus" animate="false" value="vsm_prog" type="success"></progressbar>
                       <p class="mnames">Scrolling messages</p>
                        <progressbar class="mstatus" animate="false" value="vnm_prog" type="success"></progressbar>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="headers panel-heading">HUD</div>
                <div class="headers panel-body">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row"></div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 hud_mph">200</div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row"></div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="hud_unit" align="center">MPH</p><br><br>
                            <progress class="progress-striped active">
                                <bar value="40" type="success"></bar>
                                <bar value="20" type="warning"></bar>
                                <bar value="40" type="danger"></bar>
                            </progress> 
                            <button class="state btn btn-success-alt">Accelerating</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel" data-widget='{"id" : "wiget9", "draggable": "false"}'>
                <div class="headers panel-heading">Pod Velocity | {{data.velocity}}</div>
                <div class="panel-editbox" data-widget-controls=""></div>
                <div class="panel-body">
                    <div class="mt-sm mb-sm" flot-chart style="width: 100%;height: 272px;" data-flot-data="telem.plotVelAccelData" data-flot-options="telem.plotVelAccelOptions"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- <panel panel-class="panel-heading" heading="Propulsion"> -->
            <div class="panel">
                <!-- <div class="panel-heading">Propulsion</div> -->
                <div class="panel-body" style="background-color: #262727">
                    <!-- <h1 align="center" style="color: white">FRONT</h1> -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:left;" class="outline" width="15%">Wheels</th>
                                    <th style="text-align:center;" class="outline" width="15%">Status</th>
                                    <th style="text-align:left;" class="outline" colspan="2" width="20%">Readout</th>                                  
                                    <th style="text-align:right;" class="outline" colspan="2" width="20%">Readout</th>
                                    <th style="text-align:center;" class="outline" width="15%">Status</th>
                                    <th style="text-align:right;" class="outline" width="15%">Wheels</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border-bottom-style: hidden" class="outline">Left Wheel #1</td>
                                    <td class="noborder" style="border-bottom-style: hidden"><span class="btn btn-success-alt btn-block">Stable</span></td>
                                    <td class="noborder rpm" align="right"><span class="big">{{data.lw1_rpm}} RPM</span></td>
                                    <td class="middle" align="left"><span class="medium label label-primary">{{data.lw1_tmp}} C</span></td>
                                    <td style="border-bottom-style: hidden" class="noborder" align="right"><span class="medium label label-primary">{{data.rw1_tmp}} C</span></td>
                                    <td style="border-bottom-style: hidden" class="noborder rpm" align="left"><span class="big">{{data.rw1_rpm}} RPM</span></td>
                                    <td style="border-bottom-style: hidden"><span class="btn btn-success-alt btn-block">Stable</span></td>
                                    <td align="right" class="outline" style="border-bottom-style: hidden">Right Wheel #1</td>
                                </tr>
                                <tr>
                                    <td style="border-bottom-style: hidden" class="outline">Left Wheel #2</td>
                                    <td class="noborder" style="border-bottom-style: hidden"><span class="btn btn-success-alt btn-block">Stable</span></td>
                                    <td class="noborder rpm" align="right"><span class="big">{{data.lw2_rpm}} RPM</span></td>
                                    <td class="middle" align="left"><span class="medium label label-primary">{{data.lw2_tmp}} C</span></td>
                                    <td style="border-bottom-style: hidden" class="noborder" align="right"><span class="medium label label-primary">{{data.rw2_tmp}} C</span></td>
                                    <td style="border-bottom-style: hidden" class="noborder rpm" align="left"><span class="big">{{data.rw2_rpm}} RPM</span></td>
                                    <td style="border-bottom-style: hidden"><span class="btn btn-success-alt btn-block">Stable</span></td>
                                    <td align="right" class="outline">Right Wheel #2 </td>
                                </tr>
                                
                            </tbody>
                        </table>   
                    <!-- <h1 align="center" style="color: white">REAR</h1>   -->
                    </div>                   
            <!-- </panel> -->
            </div>
        </div>
    </div>
    
    
</div>
<!-- container-fluid -->
