<ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Subteam</li>
        <li class="active">Braking Module</li>
    </ol>

<div class="container-fluid" ng-controller="DashboardController">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <button class="btn l_panel" ng-class="{'btn-success': pod.start == true, 'btn-success-alt': pod.start == false}">Start</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <button class="btn btn-block" ng-class="{'btn-warning': pod.launch == true, 'btn-warning-alt': pod.launch == false}">Launch</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <button class="btn btn-block btn-danger-alt l_panel">Stop</button>
                </div>
            </div>
        </div>
    </div>
</div>