    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li>Magnetic Control Module</li>
    </ol>

<div class="container-fluid" ng-controller="MCMController">
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-heading" heading="Proximity">
                    <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td><b>SENSOR</b></td>
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX1</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX2</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                               
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX3</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX4</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX5</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX6</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX7</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX8</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX9</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX10</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX11</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX12</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX13</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX14</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX15</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX16</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>     
                                </tr>
                                <tr>
                                    <td><b>POSITION</b></td>
                                    <td>
                                        <div class="center">
                                            <div class="label label-success">val</div>
                                        </div>
                                    </td>                               
                                    <td>
                                        <div class="center">
                                            <div class="label label-success">val</div>
                                        </div>
                                    </td>                                    
                                    <td>
                                        <div class="center">
                                            <div class="label label-success">val</div>
                                        </div>
                                    </td>                                    
                                    <td>
                                        <div class="center">
                                            <div class="label label-success">val</div>
                                        </div>
                                    </td>                                    
                                    <td>
                                        <div class="center">
                                            <div class="label label-success">val</div>
                                        </div>
                                    </td>                                    
                                    <td>
                                        <div class="center">
                                            <div class="label label-success">val</div>
                                        </div>
                                    </td>                                    
                                    <td>
                                        <div class="center">
                                            <div class="label label-success">val</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="center">
                                            <div class="label label-success">val</div>
                                        </div>
                                    </td>     
                                </tr>
                            </tbody>
                        </table>                    
            </panel>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <panel panel-class="panel-heading" heading="Halbach Wheels (Voltage | Speed)">
                 <table class="table table-bordered">
<!--                             <thead>
                                <tr>
                                    <th width="50%">Classes</th>
                                    <th width="50%">Labels</th>
                                </tr>
                            </thead> -->
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="center">Wheel 1</div>
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">V</span>
                                        </div>
                                        <div>
                                            <div class="label label-success">val</div><span class="pull-right">RPM</span>
                                        </div>
                                    </td>                               
                                    <td>
                                        <div class="center">Wheel 3</div>
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">V</span>
                                        </div>
                                        <div>
                                            <div class="label label-danger">val</div><span class="pull-right">RPM</span>
                                        </div>
                                    </td>                                    
                                    <td>
                                        <div class="center">Wheel 5</div>
                                        <div>
                                            <div class="label label-success">val</div><span class="pull-right">V</span>
                                        </div>
                                        <div>
                                            <div class="label label-success">val</div><span class="pull-right">RPM</span>
                                        </div>
                                    </td>                                    
                                    <td>
                                        <div class="center">Wheel 7</div>
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">V</span>
                                        </div>
                                        <div>
                                            <div class="label label-danger">val</div><span class="pull-right">RPM</span>
                                        </div>
                                    </td>                                    
                                    <td>
                                        <div class="center">Wheel 9</div>
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">V</span>
                                        </div>
                                        <div>
                                            <div class="label label-danger">val</div><span class="pull-right">RPM</span>
                                        </div>
                                    </td>                                      
                                </tr>
                                <tr>
                                    <td>
                                        <div class="center">Wheel 2</div>
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">V</span>
                                        </div>
                                        <div>
                                            <div class="label label-success">val</div><span class="pull-right">RPM</span>
                                        </div>
                                    </td>                               
                                    <td>
                                        <div class="center">Wheel 4</div>
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">V</span>
                                        </div>
                                        <div>
                                            <div class="label label-danger">val</div><span class="pull-right">RPM</span>
                                        </div>
                                    </td>                                    
                                    <td>
                                        <div class="center">Wheel 6</div>
                                        <div>
                                            <div class="label label-success">val</div><span class="pull-right">V</span>
                                        </div>
                                        <div>
                                            <div class="label label-success">val</div><span class="pull-right">RPM</span>
                                        </div>
                                    </td>                                    
                                    <td>
                                        <div class="center">Wheel 8</div>
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">V</span>
                                        </div>
                                        <div>
                                            <div class="label label-danger">val</div><span class="pull-right">RPM</span>
                                        </div>
                                    </td>                                    
                                    <td>
                                        <div class="center">Wheel 10</div>
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">V</span>
                                        </div>
                                        <div>
                                            <div class="label label-danger">val</div><span class="pull-right">RPM</span>
                                        </div>
                                    </td>                       
                                </tr>
                            </tbody>
                        </table> 
            </panel>
        </div>

        <div class="col-md-6">
            <panel panel-class="panel-heading" heading="Eddy Current (CURRENT | FORCE)">
                 <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="14%">Brake 1</th>
                                    <th width="14%">Brake 2</th>
                                    <th width="14%">Brake 3</th>
                                    <th width="14%">Brake 4</th>
                                    <th width="14%">Brake 5</th>
                                    <th width="14%">Average</th>
                                    <th width="14%">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
<!--                                         <div class="center">Brake 1</div> -->
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">A</span>
                                        </div>
                                        <div>
                                            <div class="label label-success">val</div><span class="pull-right">N</span>
                                        </div>
                                    </td>                               
                                    <td>
  <!--                                       <div class="center">Brake 2</div> -->
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">A</span>
                                        </div>
                                        <div>
                                            <div class="label label-danger">val</div><span class="pull-right">N</span>
                                        </div>
                                    </td>                                    
                                    <td>
<!--                                         <div class="center">Brake 3</div> -->
                                        <div>
                                            <div class="label label-success">val</div><span class="pull-right">A</span>
                                        </div>
                                        <div>
                                            <div class="label label-success">val</div><span class="pull-right">N</span>
                                        </div>
                                    </td>                                    
                                    <td>
<!--                                         <div class="center">Brake 4</div> -->
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">A</span>
                                        </div>
                                        <div>
                                            <div class="label label-danger">val</div><span class="pull-right">N</span>
                                        </div>
                                    </td>                                    
                                    <td>
<!--                                         <div class="center">Brake 5</div> -->
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">A</span>
                                        </div>
                                        <div>
                                            <div class="label label-danger">val</div><span class="pull-right">N</span>
                                        </div>
                                    </td>  
                                    <td>
<!--                                         <div class="center">Total</div> -->
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">A</span>
                                        </div>
                                        <div>
                                            <div class="label label-danger">val</div><span class="pull-right">N</span>
                                        </div>
                                    </td> 
                                    <td>
<!--                                         <div class="center">Total</div> -->
                                        <div>
                                            <div class="label label-warning">val</div><span class="pull-right">A</span>
                                        </div>
                                        <div>
                                            <div class="label label-danger">val</div><span class="pull-right">N</span>
                                        </div>
                                    </td>                                      
                                </tr>
                            </tbody>
                        </table> 
<!--                 <div class="center">
                    <span class="label label-danger">50%</span>    
                </div> -->
<!--                 <br>
                <progressbar class="progress-striped active" value="dynamic" type="{{type}}"></progressbar>
                <small><em>Object (changes type based on value)</em></small> -->
            </panel>
        </div>
    </div>

</div> <!-- container-fluid -->
