    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Vehicle Safety Module</li>
    </ol>

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-12">
            <panel panel-class="panel-heading" heading="Pressure: Val   |   Left Door : Adjar   |   ...">
                <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX1</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX2</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                               
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX3</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX4</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX5</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX6</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td width="25%">
                                        <span>
                                            <div class="label label-default">PROX7</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX8</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX9</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX10</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX11</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX12</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                        
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX1</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX2</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                               
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX3</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX4</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX5</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX6</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td width="25%">
                                        <span>
                                            <div class="label label-default">PROX7</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX8</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX9</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX10</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX11</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX12</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                          
                                </tr>
                                 <tr>
                                   <td>
                                        <span>
                                            <div class="label label-default">PROX1</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX2</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                               
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX3</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX4</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX5</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX6</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td width="25%">
                                        <span>
                                            <div class="label label-default">PROX7</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX8</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX9</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX10</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                    
                                    <td>
                                        <span>
                                            <div class="label label-default">PROX11</div>
                                            <div class="label label-success">val</div>
                                        </span>
                                        <span>
                                            <div class="label label-default">PROX12</div>
                                            <div class="label label-success">val</div>
                                        <span>
                                    </td>                                      
                                </tr>
                            </tbody>
                        </table>     
            </panel>
        </div>
    </div>

</div> <!-- container-fluid -->
