<header
	id="topnav"
	class="navbar ng-hide {{getLayoutOption('topNavThemeClass')}}"
	ng-class="{'navbar-fixed-top': getLayoutOption('fixedHeader'), 'navbar-static-top': !getLayoutOption('fixedHeader')}"
	ng-controller="MainController"
	role="banner"
	ng-show="!layoutLoading"
	ng-cloak>
	<!-- <a id="leftmenu-trigger" ng-click="toggleLeftBar()"></a> -->
	<!-- <a id="rightmenu-trigger" ng-click="toggleRightBar()"></a> -->


	<div class="logo-area">
		<span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg" ng-click="toggleLeftBar()" ng-show="!getLayoutOption('layoutHorizontal')">
			<a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
				<span class="icon-bg">
					<i class="ti ti-menu"></i>
				</span>
			</a>
		</span>
		
		<a class="navbar-brand" href="#/">BADGERLOOP</a>
	</div>

	<ul class="nav navbar-nav pull-right toolbar">
	  <li class="toolbar-icon-bg hidden-xs" toggle-fullscreen>
            <a href="" class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-fullscreen"></i></span></i></a>
	  </li>
<!-- 	  <li class="dropdown toolbar-icon-bg" dropdown ng-controller="NotificationsController" ng-show="isLoggedIn">
		<a href dropdown-toggle class="dropdown-toggle">
			<span class="icon-bg"><i class="ti ti-bell"></i></span>
			<span class="badge badge-primary" ng-if="unseenCount>0" ng-bind="unseenCount"></span>
		</a>
		<div class="dropdown-menu animated notifications arrow">
			<div class="topnav-dropdown-header">
				<span>Notifications</span>
			</div>
			<ul class="media-list scrollthis" scrollable>
				<li ng-repeat="item in notifications" class="media {{item.class}}">
					<a href="#">
						<div class="media-left">
							<span class="notification-icon" ng-if="item.thumb==undefined"><i class="{{item.iconClasses}}"></i></span>
							<img class="img-circle avatar" ng-if="item.thumb!==undefined" ng-src="{{item.thumb}}" alt="" />
						</div>
						<div class="media-body">
							<h4 class="notification-heading" ng-if="item.thumb==undefined">{{item.text}}</h4>
							<h4 class="notification-heading" ng-if="item.thumb!==undefined" ng-bind-html="item.text"></h4>
							<span class="notification-time">{{item.time}}</span>
						</div>
					</a>
				</li>
			</ul>
			<div class="topnav-dropdown-footer">
				<a href="#/">See all notifications</a>
			</div>
		</div>
	  </li> -->
	</ul>
</header>
