#topnav .navbar-brand{
	width: 200px !important;
}

.ngGrid .ngRow.selected{
	background-color: #378fbf;
	opacity: .4;
}

.ngGrid .ngRow.selected .ngCellText{
	color: white;
}

.selectedSensorButtons{
	display:inline;
    padding: 10px 15px;
}