<div ng-controller="MessageLogController as vm" class="test-container">
    <scrollable-table >
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
             <th sortable-header col="facility">Sensor Name</th>
             <th sortable-header col="code">SID</th>
             <th sortable-header col="cost">Message</th>
             <th sortable-header col="conditionRating">Priority</th>
             <th sortable-header col="extent">Owner</th>
             <th sortable-header col="planYear" comparator-fn="comparator">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="message in vm.messages" row-id="{{ message.facility }}" 
              ng-class="{info: selected == message.facility}" >
            <td>{{ message.facility }}</td>
            <td>{{ message.code }}</td>
            <td>{{ message.cost }}</td>
            <td class="cr">{{ message.conditionRating }}</td>
            <td>{{ message.extent }}</td>
            <td>{{ message.planYear }}</td>
          </tr>
        </tbody>
      </table>
    </scrollable-table>
    <!--div>
      <label>Select a facility:</label>
      <select ng-model="selected" ng-options="f for f in facilities"></select>
    </div-->
</div>